<a href="https://colab.research.google.com/github/tribber93/MachineLearning/blob/main/KNN_user_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import preprocessing
import pandas as pd
import numpy as np

In [ ]:
path = '/content/drive/MyDrive/Machine Learning/dataset/user_data.csv'
df = pd.read_csv(path)
df = df.drop('id',axis=1)

In [ ]:
encode = preprocessing.LabelEncoder()
jk = df["jk"]
jk_encode = encode.fit_transform(jk)
jk_encode

array([1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0])

In [ ]:
df['jk'] = jk_encode
df.head()

   jk  usia  estimasi_gaji  keputusan_beli
0   1    19          19000               0
1   1    35          20000               0
2   0    26          43000               0
3   0    27          57000               0
4   1    19          76000               0

In [ ]:
y = df['keputusan_beli']

In [ ]:
fitur = list(zip(df['jk'],df['usia'],df['estimasi_gaji']))
# fitur

In [ ]:
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(fitur,y)

KNeighborsClassifier(n_neighbors=3)

In [ ]:
y_pred = knn.predict([[0,23,20000]])
print(9*"-" ,"Keputusan untuk membeli", 9*"-" )
print(4*" ", "Hasil Prediksinya 1 atau Ya" if y_pred == 1 else "Hasil Prediksinya 0 atau Tidak", 4*" ")

--------- Keputusan untuk membeli ---------
     Hasil Prediksinya 0 atau Tidak