<a href="https://colab.research.google.com/github/tribber93/MachineLearning/blob/main/Linear_Regresi_Pertemuan_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

Mengimport data

In [ ]:
path = "/content/drive/MyDrive/Machine Learning/dataset/petrol_consumption.csv"
df = pd.read_csv(path, usecols=['Petrol_tax', 'Average_income','Paved_Highways', 'Population_Driver_licence(%)','Petrol_Consumption'])
df.head()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524
2,9.0,3865,1586,0.580,561
3,7.5,4870,2351,0.529,414
4,8.0,4399,431,0.544,410

Membagi data

In [ ]:
X = df[['Petrol_tax', 'Average_income','Paved_Highways', 'Population_Driver_licence(%)']]
y = df['Petrol_Consumption']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

Menggunakan Linear Regression

In [ ]:
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [ ]:
ccoeff_df = pd.DataFrame(regressor.coef_ , X.columns, columns=['Coefficient'])
ccoeff_df

                              Coefficient
Petrol_tax                     -40.016660
Average_income                  -0.065413
Paved_Highways                  -0.004741
Population_Driver_licence(%)  1341.862121

In [ ]:
regressor.coef_[2]

-0.004740733797987992

In [ ]:
y_pred = regressor.predict(X_test)

In [ ]:
y_pred

array([469.39198872, 545.64546431, 589.66839402, 569.7304133 ,
       649.77480909, 646.63116356, 511.60814841, 672.47517717,
       502.07478157, 501.2707342 ])

In [ ]:
df = pd.DataFrame({'Sebenarnya': y_test, 'Prediksi': y_pred})
df

    Sebenarnya    Prediksi
29         534  469.391989
4          410  545.645464
26         577  589.668394
30         571  569.730413
32         577  649.774809
37         704  646.631164
34         487  511.608148
40         587  672.475177
7          467  502.074782
10         580  501.270734

In [ ]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 56.8222474789647
Mean Squared Error: 4666.344787588362
Root Mean Squared Error: 68.31064915215168