<a href="https://colab.research.google.com/github/tribber93/MachineLearning/blob/main/UAS_No_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt

In [2]:
path = '/content/drive/MyDrive/Machine Learning/dataset/UAS no. 2.csv'
df = pd.read_csv(path)
df.head()

   No.  Gaji (Ribuan)  Pengeluaran (Ribuan)
0    1           4350                  5500
1    2           5500                  5450
2    3           6900                  8500
3    4           7350                  6050
4    5           3800                  4200

In [3]:
#mengambil data gaji dan pengeluaran
x = df.iloc[:,1:].values
x

array([[4350, 5500],
       [5500, 5450],
       [6900, 8500],
       [7350, 6050],
       [3800, 4200],
       [7800, 9500],
       [9100, 8500],
       [8750, 6000],
       [5750, 4100],
       [8500, 6500]])

In [4]:
# menginisialisasi algoritma kmeans dengan 2 kluster
kmeans = KMeans(n_clusters=2, init='k-means++',random_state=42)
y_pred = kmeans.fit_predict(x) # memprediksi klaster berdasarkan gaji dan pengeluaran
y_pred

array([1, 1, 0, 0, 1, 0, 0, 0, 1, 0], dtype=int32)

In [5]:
#membuat list kluster untuk hasil yang sudah didapat dari prediksi diatas
kluster = []

for i in range(len(y_pred)):
  if(y_pred[i] == 1):
    kluster.append("Kluster-1")
  else:
    kluster.append("Kluster-2")

print(kluster)

['Kluster-1', 'Kluster-1', 'Kluster-2', 'Kluster-2', 'Kluster-1', 'Kluster-2', 'Kluster-2', 'Kluster-2', 'Kluster-1', 'Kluster-2']

In [7]:
#menampilkan dataset baru dengan tambahan info klusternya
df['Kluster'] = kluster
df

   No.  Gaji (Ribuan)  Pengeluaran (Ribuan)    Kluster
0    1           4350                  5500  Kluster-1
1    2           5500                  5450  Kluster-1
2    3           6900                  8500  Kluster-2
3    4           7350                  6050  Kluster-2
4    5           3800                  4200  Kluster-1
5    6           7800                  9500  Kluster-2
6    7           9100                  8500  Kluster-2
7    8           8750                  6000  Kluster-2
8    9           5750                  4100  Kluster-1
9   10           8500                  6500  Kluster-2