<a href="https://colab.research.google.com/github/tribber93/MachineLearning/blob/main/UAS_no_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [32]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn import preprocessing
from sklearn import metrics

In [3]:
#Membaca dataset
path = '/content/drive/MyDrive/Machine Learning/dataset/UAS no. 3.csv'
df = pd.read_csv(path)
df = df.drop(columns="ID")
df

    Demam Mual-Muntah  Diare Gemetar      Kondisi
0   Tidak       Tidak  Tidak   Tidak        Sehat
1  Sedang       Tidak  Tidak   Tidak    Influenza
2  Tinggi       Tidak  Tidak      Ya    Influenza
3  Tinggi          Ya     Ya   Tidak        Tifus
4  Sedang       Tidak     Ya   Tidak        Tifus
5   Tidak          Ya     Ya   Tidak  Radang Usus
6  Sedang          Ya     Ya   Tidak  Radang Usus

In [4]:
#menginisialisasi untuk preprocessing (mengubah karakter menjadi angka)
encode = preprocessing.LabelEncoder()

In [5]:
#Mengubah data demam
demam = df["Demam"]
demam_encode = encode.fit_transform(demam)

In [6]:
#Mengubah data mual-muntah
mual_muntah = df['Mual-Muntah']
mual_muntah_encode = encode.fit_transform(mual_muntah)

In [7]:
#Mengubah data Diare
diare = df["Diare"]
diare_encode = encode.fit_transform(diare)

In [8]:
#Mengubah data Gemetar
gemetar = df["Gemetar"]
gemetar_encode = encode.fit_transform(gemetar)

In [15]:
# mengubah dataset mentah
df["Demam"] = demam_encode
df["Mual-Muntah"] = mual_muntah_encode
df["Diare"] = diare_encode
df["Gemetar"] = gemetar_encode

In [14]:
print(f"Demam       => {demam_encode}")       # 0 = Sedang, 1 = Tidak, 2 = Tinggi
print(f"Mual-Muntah => {mual_muntah_encode}") # 0 = Tidak, 1 = Ya
print(f"Diare       => {diare_encode}")       # 0 = Tidak, 1 = Ya
print(f"Gemetar     => {gemetar_encode}")     # 0 = Tidak, 1 = Ya

Demam       => [1 0 2 2 0 1 0]
Mual-Muntah => [0 0 0 1 0 1 1]
Diare       => [0 0 0 1 1 1 1]
Gemetar     => [0 0 1 0 0 0 0]

In [16]:
#menampilkan data yang sudah diubah
df

   Demam  Mual-Muntah  Diare  Gemetar      Kondisi
0      1            0      0        0        Sehat
1      0            0      0        0    Influenza
2      2            0      0        1    Influenza
3      2            1      1        0        Tifus
4      0            0      1        0        Tifus
5      1            1      1        0  Radang Usus
6      0            1      1        0  Radang Usus

In [17]:
# y/kolom kondisi sebagai target 
y = df['Kondisi']

In [18]:
# menyatukan data yang sudah di preprocessing
fitur = list(zip(df['Demam'],df['Mual-Muntah'],df['Diare'],df['Gemetar']))

In [38]:
# menginisialisasi algoritma KNN dengan n=3
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(fitur,y)

KNeighborsClassifier(n_neighbors=3)

In [39]:
# demam tinggi(2), mual-muntah Ya(1), Diare Tidak(0), Gemetar Ya(1)
data_prediksi = [2,1,0,1]
gejala = []
# a if condition else b
for i in range(len(data_prediksi)):
  if i == 0:
    hasil = "Sedang" if data_prediksi[0] == 0 else ("Tidak" if data_prediksi[0] == 1 else "Tinggi")
    gejala.append(hasil)
  else:
    if data_prediksi[i] == 0:
      gejala.append("Tidak")
    else:
      gejala.append("Ya")

y_pred = knn.predict([data_prediksi])
print(f"Demam       => {gejala[0]}")
print(f"Mual-Muntah => {gejala[1]}")
print(f"Diare       => {gejala[2]}")
print(f"Gemetar     => {gejala[3]}")
print("="*5 ,"Hasil Prediksi",  "="*5)

print(f"Kondisi yang diprediksi adalah {y_pred[0]}")

Demam       => Tinggi
Mual-Muntah => Ya
Diare       => Tidak
Gemetar     => Ya
===== Hasil Prediksi =====
Kondisi yang diprediksi adalah Influenza

In [40]:
predict = knn.predict([[1,0,0,0]]) #tidak demam, tidak mual-muntah, tidak diare, tidak gemetar [1,0,0,0]
score = metrics.accuracy_score(["Sehat"], predict)
print('Akurasi dengan menggunakan Nearest Neighbor = ',score)

Akurasi dengan menggunakan Nearest Neighbor =  0.0